@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var seriesTitle = ViewBag.SeriesTitle;
    var issueNumber = ViewBag.IssueNumber;
    var description = ViewBag.Description;
    var artists = ViewBag.Artists;
}

<!-- ComicBook's view -->
<h1>@seriesTitle</h1>
<h2>Issue #@issueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(description)</div>
@if (artists.Length > 0) {
    <h5>Artists:</h5>
    <div>
        <ul>
        @foreach (var artist in artists) {
            <li>@artist</li>
        }
        </ul>
    </div>
}
